@charset "UTF-8";

:root {
    --fade-out-duration: 3s;
}

body {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(58, 65, 54);
}

canvas {
    display: flex;
    margin: auto;
    border: 1px solid black;
    cursor: crosshair;
}

#animation-controller-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

button {
    cursor: pointer;
    display: block;
    width: 100%;
}

#progress-display-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-display {
    color: antiquewhite;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

.visible {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity var(--fade-out-duration) ease-in-out;
}
