@charset "UTF-8";

:root {
    --fade-out-duration: 1s;
}

body {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(58, 65, 54);
}

canvas {
    display: flex;
    margin: auto;
    border: 1px solid black;
    cursor: grab;
}

#animation-controller-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

input, label {
    cursor: pointer;
}

.progress-display-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
}

.visible {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity var(--fade-out-duration) ease-in-out;
}

@keyframes spin {
    from  {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
